version: "3.8"
services:
  postgres:
    image: postgres:14-alpine
    restart: always
    container_name: postgres_c
    ports:
      - "5432:5432"
    env_file:
      - ../.db.env
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - backend

  # postgres_dev:
  #   image: postgres:14-alpine
  #   restart: always
  #   container_name: postgres_dev_c
  #   ports:
  #     - "6020:5432"
  #   env_file:
  #     - ./.db.dev.env
  #   volumes:
  #     - ./pgdata_dev:/var/lib/postgresql/data
  #   networks:
  #     - backend

  mongo:
    image: mongo:5.0.10
    container_name: mongo_c
    restart: always
    volumes:
      - ./mongodata:/data/db
    networks:
      - backend

  api:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - "production"
    container_name: api_c
    depends_on:
      - postgres
      - mongo
    ports:
      - "4000:4000"
    networks:
      - backend
  
  # dev:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.dev
  #     tags:
  #       - "development"
  #   container_name: api_dev_c
  #   depends_on:
  #     - postgres_dev
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - .:/app
  #     - /app/node_modules

networks:
  backend:
    driver: bridge
